#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;
}
model-viewer{
  height: 400px;
  width: 100%;
  margin: auto;
}
@media screen and (max-width: 800px) {
  model-viewer{
    height: 300px;
  }
}
